* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

body{
  /*background-color: #87CEEB;*/
  background-color: black;
}



.character, .background, .dialogue, .audio, .button, .logo, .akemi, .title, .buttons, .butterflies, .clouds, .dialogueBox, .namepanel, .difficultyPanel, .box, .ridden {
  display: none;
}